<div style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      placeholder="Search employees..." 
      class="search-input"
    />
  <button (click)="navigateToAddEmployee()">Add Employee</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of filteredEmployees">
        <td>{{ employee.firstname }}</td>
        <td>{{ employee.lastname }}</td>
        <td>{{ employee.email }}</td>
        <td>          
          <button (click)="viewEmployee(employee)">View</button>
          <button (click)="editEmployee(employee)">Edit</button>
          <button (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  