.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; 
    border-bottom: 1px solid #ddd; 
  }
  
  nav {
    display: flex;
    gap: 15px; 
  }
  
  .logout-btn {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #84018b9a; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #84018b9a; 
  }
  